#map {
    position: absolute;
    top: 55px;
    left: 0;
    bottom: 60px;
    width: 100%;
    z-index: -1;
  }
.marker {
    background-image: url('../content/map-markers/mapbox-icon2.png');
    background-size: cover;
    height: 4.1em;
    width: 2.5em;
    cursor: pointer;
}
.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}