@{
    ViewData["Title"] = "JavaScript øvelser";
}


<div class="container">

    <div class="row">
        <div class="col-sm col-12 d-flex justify-content-center">
            <h1>JavaScript Øvelser</h1>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm col-12 d-flex justify-content-center">
            <h2>Øvelse 1 - Vis hvad dag det er!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm col-12 d-flex justify-content-center">
            <p id="dag"></p>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm col-12 d-flex justify-content-center">
            <h2>Øvelse 2 - Metode med navn!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm col-12 d-flex justify-content-center">
            <p id="metodeNavn"></p>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm col-12 d-flex justify-content-center">
            <h2>Øvelse 3 - Objekt med navn!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm col-12 d-flex justify-content-center">
            <p id="objektNavn"></p>
        </div>
    </div>
</div>
